%tr
  %td.attr
    %a{data: {toggle: 'modal', target: "##{field.slug}"}}
      #{field.alias}
  %td.muni
    = trim @profile.housing.send "#{field}"
    %span.moe= moe_or_blank(@profile.housing, "#{field}")
  %td.operation #{field.operation.pluralize}:
  %td= @profile.neighbors.send      field.with_op
  %td= @profile.community_type.send field.with_op
  %td= @profile.region.send         field.with_op
  %td= @profile.county.send         field.with_op
  %td= @profile.state.send          field.with_op